
<mat-card class="example-card animate__animated animate__fadeIn">

    <mat-card-header>
      <mat-card-title> <strong class="tituloLogin">Mi Banco</strong> </mat-card-title>
    </mat-card-header>
    
    <br>
        
    <mat-card-content>
    
        <form class="example-form" (ngSubmit)="login()" autocomplete="off">
  
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>RUT</mat-label>
              <input matInput placeholder="RUT Valido" name="rut" [(ngModel)]="datosLogin.rut" (input)="teclaPresionada()" required>
            </mat-form-field>
              
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Contraseña</mat-label>
              <input matInput placeholder="Contraseña" type="password" name="password" [(ngModel)]="datosLogin.password" required>
            </mat-form-field>
  
            <button mat-raised-button color="primary" type="submit" class="buttonIniciarSesion">Iniciar Sesión</button>
  
        </form>
          
    </mat-card-content>
    
</mat-card>




    
