html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.customErrorEmail {
    color: white;
    background-color: tomato;
    font-weight: 500;
}

.customErrorRUT {
    color: white;
    background-color: tomato;
    font-weight: 500;
}

.customOK {
    color: white;
    background-color: forestgreen;
    font-weight: 500;
}